<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        .rtl table {
            text-align: right;
        }

        /* custom config start */

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }

        .page-header, .page-header-space {
            height: 50px;
        }

        .page-footer, .page-footer-space {
            height: 50px;

        }

        .page-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 1px solid black; /* for demo */
            background: yellow; /* for demo */
        }

        .page-header {
            position: fixed;
            top: 0mm;
            width: 100%;
            border-bottom: 1px solid black; /* for demo */
            background: yellow; /* for demo */
        }

        .page {
            page-break-before: always;
        }

        @page {
            @bottom-right {
                content: counter(page) "/" counter(pages);
            }
            margin: 20mm
        }

        /* custom config end */

    </style>
</head>

<body>

<div class="page-header" style="text-align: center">
    I'm The Header
</div>

<div class="page-footer" style="text-align: center">
    I'm The Footer
</div>

<div class="invoice-box">

    <table cellpadding="0" cellspacing="0">

        <thead>
        <tr>
            <td>
                <div class="page-header-space"></div>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="https://seekvectorlogo.com/wp-content/uploads/2018/02/abb-vector-logo.png"
                                 style="width:100%; max-width:300px;">
                        </td>

                        <td>
                            Invoice #: {{.invoiceNo}}<br>
                            Created: {{.created}}<br>
                            Due: {{.due}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            {{.address.name}}<br>
                            {{.address.street}}<br>
                            {{.address.postalCode}}, {{.address.city}}
                        </td>

                        <td>
                            {{.addressee.title}}<br>
                            {{.addressee.name}}<br>
                            {{.addressee.email}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Payment Method
            </td>

            <td>
                Check #
            </td>
        </tr>

        <tr class="details">
            <td>
                {{.paymentMethod}}
            </td>

            <td>
                {{.checkNo}}
            </td>
        </tr>

        <tr class="heading">
            <td>
                Item
            </td>
            <td>
                Quantity
            </td>
            <td>
                Unit
            </td>
            <td>
                Unit Price
            </td>
            <td>
                Price
            </td>
        </tr>

        {{range .items}}
            <tr class="item">
                <td>
                    {{.description}}
                </td>
                <td>
                    {{.quantity}}
                </td>
                <td>
                    {{.unit}}
                </td>
                <td>
                    {{.unitPrice}}
                </td>
                <td>
                    {{.price}}
                </td>
            </tr>
        {{end}}

        <tr class="total">
            <td></td><td></td><td></td><td></td>
            <td>
                Total: {{.total}}
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td>
                <div class="page-footer-space"></div>
            </td>
        </tr>
        </tfoot>

    </table>

    <div class="page">
        Page break!!!
    </div>
</div>
</body>
</html>
