<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1250">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:ABBvoice;
	panose-1:2 13 6 3 2 5 3 2 2 4;}
@font-face
	{font-family:"ABBvoice Light";}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	line-height:13.0pt;
	font-size:9.5pt;
	font-family:"ABBvoice",sans-serif;}
h2
	{mso-style-name:"Heading 2\,_Heading 2";
	mso-style-link:"Heading 2 Char\,_Heading 2 Char";
	margin-top:19.0pt;
	margin-right:0cm;
	margin-bottom:6.5pt;
	margin-left:0cm;
	line-height:normal;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
h2.CxSpFirst
	{mso-style-name:"Heading 2\,_Heading 2CxSpFirst";
	mso-style-link:"Heading 2 Char\,_Heading 2 Char";
	margin-top:19.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
h2.CxSpMiddle
	{mso-style-name:"Heading 2\,_Heading 2CxSpMiddle";
	mso-style-link:"Heading 2 Char\,_Heading 2 Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
h2.CxSpLast
	{mso-style-name:"Heading 2\,_Heading 2CxSpLast";
	mso-style-link:"Heading 2 Char\,_Heading 2 Char";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.5pt;
	margin-left:0cm;
	line-height:normal;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{mso-style-link:"Footnote Text Char";
	margin-top:5.5pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	font-size:8.0pt;
	font-family:"ABBvoice",sans-serif;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Header Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	font-size:8.0pt;
	font-family:"ABBvoice",sans-serif;
	text-transform:uppercase;
	letter-spacing:.8pt;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Footer Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	font-size:8.0pt;
	font-family:"ABBvoice",sans-serif;}
span.MsoFootnoteReference
	{vertical-align:super;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{mso-style-name:"Title\,_T2 Title";
	mso-style-link:"Title Char\,_T2 Title Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
p.MsoTitleCxSpFirst, li.MsoTitleCxSpFirst, div.MsoTitleCxSpFirst
	{mso-style-name:"Title\,_T2 TitleCxSpFirst";
	mso-style-link:"Title Char\,_T2 Title Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
p.MsoTitleCxSpMiddle, li.MsoTitleCxSpMiddle, div.MsoTitleCxSpMiddle
	{mso-style-name:"Title\,_T2 TitleCxSpMiddle";
	mso-style-link:"Title Char\,_T2 Title Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
p.MsoTitleCxSpLast, li.MsoTitleCxSpLast, div.MsoTitleCxSpLast
	{mso-style-name:"Title\,_T2 TitleCxSpLast";
	mso-style-link:"Title Char\,_T2 Title Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
	{mso-style-name:"Subtitle\,_T3 Subtitle";
	mso-style-link:"Subtitle Char\,_T3 Subtitle Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice Light",sans-serif;}
p.MsoSubtitleCxSpFirst, li.MsoSubtitleCxSpFirst, div.MsoSubtitleCxSpFirst
	{mso-style-name:"Subtitle\,_T3 SubtitleCxSpFirst";
	mso-style-link:"Subtitle Char\,_T3 Subtitle Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice Light",sans-serif;}
p.MsoSubtitleCxSpMiddle, li.MsoSubtitleCxSpMiddle, div.MsoSubtitleCxSpMiddle
	{mso-style-name:"Subtitle\,_T3 SubtitleCxSpMiddle";
	mso-style-link:"Subtitle Char\,_T3 Subtitle Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice Light",sans-serif;}
p.MsoSubtitleCxSpLast, li.MsoSubtitleCxSpLast, div.MsoSubtitleCxSpLast
	{mso-style-name:"Subtitle\,_T3 SubtitleCxSpLast";
	mso-style-link:"Subtitle Char\,_T3 Subtitle Char";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice Light",sans-serif;}
span.TitleChar
	{mso-style-name:"Title Char\,_T2 Title Char";
	mso-style-link:"Title\,_T2 Title";
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
span.Heading2Char
	{mso-style-name:"Heading 2 Char\,_Heading 2 Char";
	mso-style-link:"Heading 2\,_Heading 2";
	font-family:"ABBvoice",sans-serif;
	font-weight:bold;}
span.SubtitleChar
	{mso-style-name:"Subtitle Char\,_T3 Subtitle Char";
	mso-style-link:"Subtitle\,_T3 Subtitle";
	font-family:"ABBvoice Light",sans-serif;}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-link:Header;
	text-transform:uppercase;
	letter-spacing:.8pt;}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-link:Footer;}
span.FootnoteTextChar
	{mso-style-name:"Footnote Text Char";
	mso-style-link:"Footnote Text";}
p.T1Categorytitle, li.T1Categorytitle, div.T1Categorytitle
	{mso-style-name:"_T1 Category title";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	line-height:13.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"ABBvoice",sans-serif;
	text-transform:uppercase;
	letter-spacing:1.0pt;}
p.T1CategorytitleCxSpFirst, li.T1CategorytitleCxSpFirst, div.T1CategorytitleCxSpFirst
	{mso-style-name:"_T1 Category titleCxSpFirst";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:13.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"ABBvoice",sans-serif;
	text-transform:uppercase;
	letter-spacing:1.0pt;}
p.T1CategorytitleCxSpMiddle, li.T1CategorytitleCxSpMiddle, div.T1CategorytitleCxSpMiddle
	{mso-style-name:"_T1 Category titleCxSpMiddle";
	margin:0cm;
	margin-bottom:.0001pt;
	line-height:13.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"ABBvoice",sans-serif;
	text-transform:uppercase;
	letter-spacing:1.0pt;}
p.T1CategorytitleCxSpLast, li.T1CategorytitleCxSpLast, div.T1CategorytitleCxSpLast
	{mso-style-name:"_T1 Category titleCxSpLast";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	line-height:13.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"ABBvoice",sans-serif;
	text-transform:uppercase;
	letter-spacing:1.0pt;}
p.T4Spacer, li.T4Spacer, div.T4Spacer
	{mso-style-name:"_T4 Spacer";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:30.0pt;
	margin-left:0cm;
	line-height:13.0pt;
	font-size:9.5pt;
	font-family:"ABBvoice",sans-serif;}
p.T0Cursor, li.T0Cursor, div.T0Cursor
	{mso-style-name:"_T0 Cursor";
	margin:0cm;
	margin-bottom:.0001pt;
	text-indent:0cm;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	color:#FF000F;
	font-weight:bold;}
p.T0CursorCxSpFirst, li.T0CursorCxSpFirst, div.T0CursorCxSpFirst
	{mso-style-name:"_T0 CursorCxSpFirst";
	margin:0cm;
	margin-bottom:.0001pt;
	text-indent:0cm;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	color:#FF000F;
	font-weight:bold;}
p.T0CursorCxSpMiddle, li.T0CursorCxSpMiddle, div.T0CursorCxSpMiddle
	{mso-style-name:"_T0 CursorCxSpMiddle";
	margin:0cm;
	margin-bottom:.0001pt;
	text-indent:0cm;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	color:#FF000F;
	font-weight:bold;}
p.T0CursorCxSpLast, li.T0CursorCxSpLast, div.T0CursorCxSpLast
	{mso-style-name:"_T0 CursorCxSpLast";
	margin:0cm;
	margin-bottom:.0001pt;
	text-indent:0cm;
	line-height:normal;
	page-break-after:avoid;
	font-size:25.0pt;
	font-family:"ABBvoice",sans-serif;
	color:#FF000F;
	font-weight:bold;}
p.Body, li.Body, div.Body
	{mso-style-name:_Body;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.5pt;
	margin-left:0cm;
	line-height:13.0pt;
	font-size:9.5pt;
	font-family:"ABBvoice",sans-serif;}
.MsoChpDefault
	{font-size:9.5pt;
	font-family:"ABBvoice",sans-serif;}
.MsoPapDefault
	{line-height:13.0pt;}
 /* Page Definitions */
 @page WordSection1
	{size:21.0cm 842.0pt;
	margin:63.8pt 63.8pt 70.9pt 63.8pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=PL link=darkgray vlink="#6E6E6E">

<div class=WordSection1>

<p class=T0Cursor style='margin-left:0cm;text-indent:0cm'><span lang=EN-US
style='font-weight:normal'>---<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN-US>&nbsp;</span></p>

<p class=T1Categorytitle><span lang=EN-US>Spike</span></p>

<p class=MsoTitle><span lang=EN-US>Header 1</span></p>

<p class=MsoSubtitle><span lang=EN-US>Header 2</span></p>

<p class=T4Spacer><span lang=EN-US style='font-size:14.0pt'>DE Printable
Reports Product.</span></p>

<p class=Body>Authors: Jakub Kabza</p>

<p class=Body><span lang=EN-US>Date: 27 Jan 2021</span></p>

<h2 style='margin-left:36.0pt;text-indent:-18.0pt'><a name="_Hlk60143236"><span
lang=EN-US>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
lang=EN-US>Some dynamic rows: </span></a></h2>

<table class=MsoTable15Grid1LightAccent1 border=1 cellspacing=0 cellpadding=0
 title="Project Statistics" width=642 style='width:481.7pt;border-collapse:
 collapse;border:none'>
 <tr>
  <td width=130 valign=top style='width:49.4pt;border:solid #A8A8A8 1.0pt;
  border-bottom:solid #7C7C7C 1.5pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><a name="_Toc5884309"></a><a name="_Ref4477392"><span lang=EN-US
  style='font-size:10.0pt'>Name</span></a></h2>
  </td>
  <td width=130 valign=top style='width:35.4pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>Version</span></h2>
  </td>
  <td width=130 valign=top style='width:42.55pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>Last Version</span></h2>
  </td>
  <td width=130 valign=top style='width:42.5pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt;font-weight:normal'>Size / Deps (1)</span></h2>
  </td>
  <td width=130 valign=top style='width:50.95pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>Total versions</span></h2>
  </td>
  <td width=130 valign=top style='width:60.0pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>Downloads week / total</span></h2>
  </td>
  <td width=130 valign=top style='width:50.6pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>Github stars</span></h2>
  </td>
  <td width=130 valign=top style='width:44.0pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>Contributors</span></h2>
  </td>
  <td width=130 valign=top style='width:2.0cm;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>Issues open / closed (2)</span></h2>
  </td>
  <td width=130 valign=top style='width:49.6pt;border-top:solid #A8A8A8 1.0pt;
  border-left:none;border-bottom:solid #7C7C7C 1.5pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <h2><span lang=EN-US style='font-size:10.0pt'>License (3)</span></h2>
  </td>
 </tr>
 {{range .items}}
 <tr>
  <td width=130 valign=top style='width:49.4pt;border:solid #A8A8A8 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><b><span lang=EN-US>{{.name}}</span></b></p>
  </td>
  <td width=130 valign=top style='width:35.4pt;border-top:none;border-left:none;
  border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.version}}</span></p>
  </td>
  <td width=130 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.lastVersion}}</span></p>
  </td>
  <td width=130 valign=top style='width:42.5pt;border-top:none;border-left:none;
  border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.size}}</span></p>
  </td>
  <td width=130 valign=top style='width:50.95pt;border-top:none;border-left:
  none;border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.versions}}</span></p>
  </td>
  <td width=130 valign=top style='width:60.0pt;border-top:none;border-left:none;
  border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.downloads}}</span></p>
  </td>
  <td width=130 valign=top style='width:50.6pt;border-top:none;border-left:none;
  border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.stars}}</span></p>
  </td>
  <td width=130 valign=top style='width:44.0pt;border-top:none;border-left:none;
  border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.contributors}}</span></p>
  </td>
  <td width=130 valign=top style='width:2.0cm;border-top:none;border-left:none;
  border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.issues}}</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid #A8A8A8 1.0pt;border-right:solid #A8A8A8 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='line-height:normal'><span lang=EN-US>{{.license}}</span></p>
  </td>
 </tr>
 {{end}}
</table>

<p class=Body><span lang=EN-US>&nbsp;</span></p>

</div>

<div><br clear=all>

<hr align=left size=1 width="33%">

 <p class=Body>Some references below</p>

<div id=ftn1>

<p class=MsoFootnoteText><a href="#_ftnref1" name="_ftn1" title=""><span
class=MsoFootnoteReference><span lang=EN-US><span class=MsoFootnoteReference><span
lang=EN-US style='font-size:8.0pt;font-family:"ABBvoice",sans-serif'>[1]</span></span></span></span></a><span
lang=EN-US> Size of library source code</span></p>

</div>

<div id=ftn2>

<p class=MsoFootnoteText><a href="#_ftnref2" name="_ftn2" title=""><span
class=MsoFootnoteReference><span lang=EN-US><span class=MsoFootnoteReference><span
lang=EN-US style='font-size:8.0pt;font-family:"ABBvoice",sans-serif'>[2]</span></span></span></span></a><span
lang=EN-US> Reference 2... </span></p>

</div>

<div id=ftn3>

<p class=MsoFootnoteText><a href="#_ftnref3" name="_ftn3" title=""><span
class=MsoFootnoteReference><span lang=EN-US><span class=MsoFootnoteReference><span
lang=EN-US style='font-size:8.0pt;font-family:"ABBvoice",sans-serif'>[3]</span></span></span></span></a><span
lang=EN-US> Something that describes reference no 3.</span></p>

</div>

</div>

</body>

</html>
